.messanger-container {
    width: 1100px;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
    color: white;
    display: flex;
    .messanger {
        flex: 1;
        display: flex;
        background-color: #393351;
        border-radius: 8px;
        margin: 8px;
        .backdrop {
            display: none;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            position: absolute;
        }
        .leftbar {
            width: 250px;
            display: flex;
        }
        .content {
            flex: 1;
            background-color: #2F2B43;
            display: flex;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            overflow: hidden;
        }
        .rightbar {
            width: 250px;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}
@media(max-width: 800px) {
    .messanger-container {
        .messanger {
            position: relative;
            .backdrop.active {
                display: block;
            }
            .rightbar.active {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .right-bar-container {
                    background-color: #393351;
                    padding: 8px;
                    border-radius: 8px;
                }
                
            }
        }
    }
}
@media(max-width: 600px) {
    .messanger-container {
        .messanger {
            position: relative;
            margin: 0px;
            border-radius: 0px;
            .leftbar {
                display: none;
            }
            .leftbar.active {
                display: flex;
                position: absolute;
                background-color: #393351;
                height: 100%;
                border-radius: 8px;
                width: 100%;
            }

        }
    }
}