.right-bar-container {
    .user-info {
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .nickname {
            color: #D0D0D0;
            margin-top: 8px;
        }
    }
}